services:
    -
        class: ShadowCastiel\PHPStan\TestsCheck\TestsCheckExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    -
        class: ShadowCastiel\PHPStan\TestsCheck\Rule\TestAttributeRule
        arguments:
            checkedClassPatterns: []
            excludedMethods: []
        tags:
            - phpstan.rules.rule

